/* Colors */
$primary-color: #58e1c1;
$secondary-color: #777;
$white: #fff;
$link-color: #51ddfc;
$warning-color: #fd7856;
$error-color: #e4757a;
$success-color: #63cc82;
$info-color: #927bc1;
$col-3: #deb2ee;
$col-4: #7ee6fd;
$col-5: #88d9a0;
$col-6: #4da2bb;
$col-7: #ec9fa3;
$col-8: #fd9f85;
$col-12: #80e8d1;




/* Font */
$font: 'Lato', sans-serif;

/* Width */
$full-width: 100%;
$full-height: 100%;

/* Media Queries  */
$teblet-pc: 768px;
$teblet-pc-width: 1440px;